/* --- STYLES FOR ALL PAGES --- */
body {
  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  /* Visual */
  background-image: url("../imgs/congruent_pentagon.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size:100%;
}

html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

/* add space for fixed nav */
main {
  margin: 80px 0;
}

#profile-image {
  height:250px;
  width: 250px;
}

#about-me-text {
  font-family: 'ABeeZee', sans-serif;
  font-size: 18px;
  color:rgb(221, 7, 7)
}

/* create styles for use for all white main boxes */
.block {
  background-color: rgb(172, 255, 153);

  padding: 30px;
  margin-bottom: 30px;
}

/** linkedin image and link**/

#linkedin-icon:hover{
  -webkit-filter: invert(100%) !important;
}

#github-icon:hover{
  -webkit-filter: invert(100%) !important;
}

#stack-overflow-icon:hover{
  -webkit-filter: invert(100%) !important;
}

.block-header {
  /* Typography */
  color: #2f74b4;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

/* NAV START */
#logo:hover{
  font-family: Georgia, Times, "Times New Roman", serif;
  
  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: rgb(215, 4, 243);

  /* Visual */
  background: #4aaaa5;
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #012c2af1;
}

.navbar {
  background: rgba(7, 60, 206, 0.89);
  border: none;
  color:black;
}

.nav-link:hover:hover {
  background:rgb(172, 255, 153);
  color:rgb(224, 4, 224);
}

/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }
}
/* END NAV */


/* CONNECT W/ ME CSS */
.connect-header {
  /* Typography */
  font-size: 25px;
}

.connect-photo {
  /* Box-model */
  width: 55px;
  height: 55px;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}
/* END CONNECT W/ ME */


/* BEGIN FOOTER */
.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 60px;

  /* Visual */
  background-color: rgb(21, 206, 181);
}

.text-muted-footer {
  /* Box-model */
  margin-top: 15px;

  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-color: #4aaaa5;
}
/* END FOOTER */
/* --- END STYLES FOR ALL PAGES --- */

/* --- PAGE-SPECIFIC STYLES --- */
/* ABOUT-ME PAGE */
.about-me-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #0c00b3;
}

#about-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  margin: 0 20px 10px 0;
}
/* END ABOUT-ME PAGE */


/* PORTFOLIO PAGE */
.port-image {
  margin: 20px auto;
}
/* END PORTFOLIO PAGE */


/* CONTACT FORM PAGE  */
.form-control {
  /* give input boxes right angles */
  border-radius: 0;

  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: rgb(19, 1, 1);

  /* Visual */
  background-color: #4aaaa5;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

/* END CONTACT FORM PAGE */
